@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat.woff2");
  src: url("../fonts/montserrat/montserrat.woff");
  src: url("../fonts/montserrat/montserrat.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/montserrat/montserratbold.woff2");
  src: url("../fonts/montserrat/montserratbold.woff");
  src: url("../fonts/montserrat/montserratbold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/montserrat/montserratlight.woff2");
  src: url("../fonts/montserrat/montserratlight.woff");
  src: url("../fonts/montserrat/montserratlight.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url("../fonts/hind/Hindregular.woff2");
  src: url("../fonts/hind/Hindregular.woff");
  src: url("../fonts/hind/Hindregular.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Montserrat Bold', 'Arial', sans-serif;
}

html h2,
body h2 {
  color: #00a1eb;
}

html p,
body p {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #737373;
}

html .btn.btn-default:focus,
html .btn.btn-success:focus,
body .btn.btn-default:focus,
body .btn.btn-success:focus {
  outline: none;
}

html .btn.btn-default:active,
html .btn.btn-success:active,
body .btn.btn-default:active,
body .btn.btn-success:active {
  color: #00a1eb;
  background-color: #fff;
}

html .btn.btn-default span,
html .btn.btn-success span,
body .btn.btn-default span,
body .btn.btn-success span {
  display: block;
}

html .btn.btn-default span:hover,
html .btn.btn-success span:hover,
body .btn.btn-default span:hover,
body .btn.btn-success span:hover {
  border-bottom: 1px solid #fff;
}

html .btn.btn-default,
body .btn.btn-default {
  color: #fff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  border: none;
  background-color: #00a1eb;
  background-image: none;
}

html .btn.btn-success,
body .btn.btn-success {
  background-image: none;
  border: none;
}

.page-header {
  margin: 0;
  margin-bottom: 130px;
  padding-top: 20px;
  color: #fff;
  border: none;
  background-color: #00a1eb;
  background-image: url("../img/backgrounds/bg-top.jpg");
}

@media (max-width: 992px) {
  .page-header {
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .page-header .navbar-header {
    float: none;
  }
  .page-header .navbar-left, .page-header .navbar-right {
    float: none !important;
  }
  .page-header .navbar-toggle {
    display: block;
  }
  .page-header .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .page-header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .page-header .navbar-collapse.collapse {
    display: none !important;
  }
  .page-header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .page-header > li {
    float: none;
  }
  .page-header > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header .collapse.in {
    display: block !important;
  }
}

.page-header .nav.navbar-nav.navbar-right a {
  color: #fff;
}

.page-header__left {
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  .page-header__left {
    padding-left: 20px;
    padding-right: 15px;
  }
}

.page-header__navbar {
  background-image: none;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-header .page-header__navbar-brand {
  margin-right: 15px;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 0;
  display: inline-block;
  color: #fff;
  font-size: 25px;
}

.page-header .page-header__navbar-brand:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.page-header .page-header__navbar-brand:visited {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .page-header .page-header__navbar-brand {
    font-size: 18.2px;
  }
}

.page-header__navbar-collapse {
  padding-right: 0;
}

.page-header__container {
  padding-right: 0;
}

.page-header__navbar-right {
  margin-top: 5px;
  padding: 0;
}

.page-header__navbar-right:last-child {
  margin-right: 0;
}

.page-header__navbar-right li a {
  margin-right: 25px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: inline-block;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.page-header__navbar-right li a:hover {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .page-header__navbar-right li a {
    margin-right: 15px;
  }
}

.page-header .page-header__navbar-btn {
  color: #fff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  border: none;
  background-color: #00a1eb;
  background-image: none;
}

.page-header .page-header__navbar-btn:focus {
  outline: none;
}

.page-header .page-header__navbar-btn:active {
  background-color: #fff;
}

.page-header .page-header__navbar-btn span {
  display: block;
}

.page-header .page-header__navbar-btn span:hover {
  border-bottom: 1px solid #fff;
}

.page-header__title {
  margin-top: 135px;
  margin-bottom: 195px;
}

.page-header h1 {
  font-size: 78px;
  line-height: 105px;
  letter-spacing: 15px;
}

.page-header p {
  color: #fff;
  font-size: 22px;
  line-height: 23.1px;
  letter-spacing: 5px;
}

.about {
  margin-bottom: 95px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 10px;
  }
}

.about__left {
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  .about__left {
    padding-left: 15px;
  }
}

.about__right {
  padding-right: 0;
  padding-left: 0;
}

.about__right img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .about__right {
    margin: 50px auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
  }
}

.about h2 {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 20px;
  display: block;
  font-size: 34px;
}

.about h2::after {
  content: "";
  margin-top: 25px;
  display: block;
  width: 80px;
  border-bottom: 1px solid #737373;
}

.about p {
  margin-bottom: 20px;
}

.about__tel {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 22px;
  color: #00a1eb;
}

.about .btn.btn-default.about__btn {
  padding: 10px 15px;
  display: block;
  max-width: 150px;
  font-family: 'Montserrat Light', 'Arial', sans-serif;
  white-space: normal;
}

.about .media {
  position: relative;
  width: 100%;
  height: auto;
}

.about .media h4 {
  position: absolute;
  right: 40px;
  bottom: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
}

.range {
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 85px;
  background-image: url("../img/backgrounds/bg-middle.png");
}

.range__wrap {
  padding: 0;
}

.range__head {
  margin-bottom: 25px;
}

.range__head h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 34px;
  text-align: center;
}

.range__head h2::after {
  content: "";
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 85px;
  text-align: center;
  border-bottom: 1px solid #737373;
}

.range__head p {
  margin: 0 auto;
  max-width: 630px;
  text-align: center;
}

.range__owl-carousel {
  position: relative;
  margin-bottom: 55px;
}

.range__media {
  position: relative;
  max-width: 270px;
  height: auto;
}

.range__media:hover .range__product-description {
  top: 30%;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.range__media:hover .range__product-description .btn.btn-default.range__btn {
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.range__product-description {
  position: absolute;
  top: 42%;
  right: 10px;
  left: 10px;
  text-align: center;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.range__product-name {
  color: #fff;
  font-size: 20px;
  line-height: 27px;
}

.range__price {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat Light', 'Arial', sans-serif;
}

.range .btn.btn-default.range__btn {
  opacity: 0;
  padding: 10px 20px;
  color: #00a1eb;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.range .owl-prev,
.range .owl-next {
  position: absolute;
  top: 43%;
  left: -50px;
  display: block;
  width: 40px;
  height: 40px;
  color: transparent;
  border: 1px solid #00a1eb;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media screen and (max-width: 1300px) {
  .range .owl-prev,
  .range .owl-next {
    top: auto;
    bottom: -50px;
    left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .range .owl-prev,
  .range .owl-next {
    display: none;
  }
}

.range .owl-prev::after,
.range .owl-next::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #00a1eb;
  border-right: 1px solid #00a1eb;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.range .owl-next {
  left: auto;
  right: -50px;
}

@media screen and (max-width: 1200px) {
  .range .owl-next {
    right: 5px;
  }
}

.range .owl-next::after {
  right: 15px;
  left: auto;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.range__bottom-btn-wrap {
  text-align: center;
}

.range .btn.btn-default.range__bottom-btn {
  padding: 10px 15px;
  display: inline-block;
  max-width: 150px;
  font-family: 'Montserrat Light', 'Arial', sans-serif;
  white-space: normal;
}

.features__row {
  margin-bottom: 5px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  display: block;
}

.features__item::before {
  content: "";
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 35px;
  display: block;
  width: 170px;
  height: 170px;
  border: 2px solid #00a1eb;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url("../img/sprite.png") no-repeat 20px 20px content-box, #00a1eb;
}

.features__item--2::before {
  background: url("../img/sprite.png") no-repeat -125px 20px content-box, #00a1eb;
}

.features__item--3::before {
  background: url("../img/sprite.png") no-repeat -260px 20px content-box, #00a1eb;
}

.features__item:hover::before {
  cursor: pointer;
  background: url("../img/sprite.png") no-repeat 20px -110px content-box;
  background-color: #fff;
}

.features__item--2:hover::before {
  background: url("../img/sprite.png") no-repeat -125px -110px content-box;
}

.features__item--3:hover::before {
  background: url("../img/sprite.png") no-repeat -260px -110px content-box;
}

.features__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 38px;
  color: #00a1eb;
  font-family: 'Montserrat Bold', 'Arial', sans-serif;
  text-align: center;
}

.features__item-title::after {
  content: '';
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  width: 80px;
  border-bottom: 1px solid #737373;
}

.features__bottom-btn-wrap {
  text-align: center;
}

.features .btn.btn-default.features__bottom-btn {
  padding: 10px 15px;
  display: inline-block;
  max-width: 150px;
  font-family: 'Montserrat Light', 'Arial', sans-serif;
  white-space: normal;
}

.call-back-modal .modal-header,
.call-back-modal .modal-footer {
  border: none;
}

.call-back-modal input::-webkit-input-placeholder {
  font-family: 'Hind', 'Arial', sans-serif;
}

.call-back-modal input::-moz-placeholder {
  font-family: 'Hind', 'Arial', sans-serif;
}

.call-back-modal input:-ms-input-placeholder {
  font-family: 'Hind', 'Arial', sans-serif;
}

.call-back-modal input::-ms-input-placeholder {
  font-family: 'Hind', 'Arial', sans-serif;
}

.call-back-modal input::placeholder {
  font-family: 'Hind', 'Arial', sans-serif;
}
